.usercard {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    
    .user {
        width: 50px; 
        height: auto; 
    }

    .card-title, .card-text {
        text-align: center; 
        margin: 0; 
    }

    .card-body {
        padding: 20px; 
    }
}


