    .navbar {
        background-color: gray;
    
        .container-fluid {
            display: flex;
            justify-content: center; 
        }
    
        .navbar-nav {
            display: flex;
            justify-content: center; 
            width: 100%; 
        }
    
        .nav-item {
            margin: 0 10px; 
        }
    
        .nav-link {
            color: black;
            transition: 0.5s;
        }
    }


